@inherits LayoutComponentBase

<div class="top-bar">
    <img class="logo" src="images/pizza-svgrepo-com.svg" />
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="/images/Pizzao-whatsapp-2.png" />
        <div>Elegir Pizza</div>
    </NavLink>
    <NavLink href="myorders" class="nav-tab">
        <img src="https://ticapacitacion.comn/resources/courses/blazorwam/images/bike.svg" />
        <div>Mis ôrdenes</div>
    </NavLink>
</div>

<div class="content">
    @Body    
</div>

